[Unit]
Description=Starts Acconeer streaming server
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/Documents/evk_service_linux_armv7l_xc112/utils/acc_streaming_server_rpi_xc112_r2b_xr112_r2b_a111_r2c
Restart=on failure

[Install]
WantedBy=multi-user.target